* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --header-bg: #10375c;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;

    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    height: 60px;
    min-width: 205px;
    line-height: 60px;
    color: #fff;
    border-radius: 999px;
    background-color: #2e80ce;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    border: solid 1px #2e80ce;

    cursor: pointer;
}

.header {
    padding-top: 30px;
    min-height: 100vh;
    background-color: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    top: 1.1em;
    left: 1.1em;
    position: absolute;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    line-height: 1.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
    font-family: "Sora", sans-serif;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    font-size: 1rem;
    font-weight: 300;
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
}

.header-action__login:hover,
.header-action__signup:hover,
.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    position: relative;
    display: inline-block;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    left: -8px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    margin-left: 7px;
    min-width: 104px;
    height: 44px;
    line-height: 42px;
}

.hero__btn:hover,
.header-action__signup:hover {
    opacity: 0.8;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.66;
}

.hero__desc--call {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero-action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__btn {
    margin-right: 38px;
}

.hero__images {
    display: flex;
    align-items: center;

    justify-content: flex-end;
}

.hero__img:first-child {
    margin-right: -6px;
    z-index: 1;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

/* Service */
.service {
    padding: 170px 0;
}

.section-heading {
    color: #10375c;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    margin-left: auto;
    margin-right: auto;
    width: 468px;
    color: #575f66;
    text-align: center;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}

.service__row {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    object-position: top;
    border-radius: 12px;
}

.service-item {
    width: 470px;
    padding: 22px;
    display: flex;
    background: #fff;
    border-radius: 10px;
    justify-content: center;
    transition: 0.25s;
}

.service-item:hover {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}

.service-item__icon-wrap {
    background: #eff6fd;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 19px;
    transition: 0.25s;
}

.service-item__icon {
    transition: 0.25s;
}

.service-item:hover .service-item__icon-wrap {
    background: #2e80ce;
}

.service-item:hover .service-item__icon path {
    fill: #ffffff;
}

.service-item__heading {
    color: #10375c;
    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-family: Sora;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px; /* 175% */
}

.service__list .btn {
    margin-top: 70px;
}
